{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      
      <div class="section-content">
        <h2>Interfaith Food Pantry of the Oranges</h2>
       <a href="{{ url_for('signup') }}" class="btn-primary">Sign up</a>
       <a href="{{ url_for('about') }}" class="btn-secondary">Learn more</a> 
      </div>

      <div class="section-device">
        <img src="static/img/device.png">
      </div>
      
      <div class="clearfix"></div>

    </div>


    <!-- Begin Web-Stat code v 6.2 -->
<div id="webstat" hidden>
<span id="wts1442602">&nbsp;</span><script type="text/javascript">
var wts=document.createElement('script');wts.type='text/javascript';
wts.async=true;wts.src=('https:'==document.location.protocol?'https://server2':'http://lb')
+'.web-stat.com/4/1442602/log6_2.js';
document.getElementById('wts1442602').appendChild(wts);
</script><noscript><a href="http://www.web-stat.com">
<img src="//server2.web-stat.com/6/4/1442602.gif" 
style="border:0px;" style = "display:none;"  alt=""></a></noscript>
</div>
<!-- End Web-Stat code v 6.2 -->
  </main>
{% endblock %}